<div class="h-28 w-full bg-neutral-800 text-center -m-4 mt-6 text-white text-sm align-middle shadow-lg" style="font-size: 12px;">
    <div class="align-middle text-center mr-2 text-white pt-6 pb-2">
        <a 
            href="https://github.com/ucsjs" 
            title="Github" 
            target="_blank" 
            class="text-lg p-2 mt-2 text-white hover:text-neutral-300"
            style="color: #FFF !important"
        >
            <i class="fa-brands fa-github"></i>
        </a>

        <a 
            href="https://discord.gg/XtUH9sJP" 
            title="Discord" 
            target="_blank" 
            class="text-lg p-2 mt-2 text-white hover:text-neutral-300"
            style="color: #FFF !important"
        >
            <i class="fa-brands fa-discord"></i>
        </a>
    </div>

    Copyright © 2022 MIT by André Ferreira
</div>